# Ignore data files.
*.csv
*.yml
*.apkg
*.png
*.txt

# Ignore dev and testing files.
__pycache__/
archive/
*.swp

# Do track docker compose yml.
!docker-compose.yml

# Do track the example .apkg
!card_template.apkg

# Do track the example files
!example_char_file.txt
!example_import_into_anki.csv
!example_vocab_file.yml
